<h1>List all Articles</h1>
<style>
  table {
    /*border-collapse: collapse;*/
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    padding: 30px;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even){background-color: #f2f2f2}

  th {
    background-color: orange;
    color: white;
  }
</style>
<p>
  <%= link_to "Create New Article", new_article_path %>
</p>
<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Edit</th>
    <th>Show</th>
    <th>Delete</th>
  </tr>
  <tr>
    <% @articles.each do |art| %>
    <tr>
      <td><%=art.id %></td>
      <td><%=art.title %></td>
      <td><%=art.description %></td>
      <td><%= link_to "Edit",edit_article_path(art) %></td>
      <td><%= link_to "Show",article_path(art) %></td>
      <td><%= link_to "Delete",article_path(art),method: :delete,data:{confirm:"are you sure want to delete this record ?" } %></td>
    </tr>
    <% end %>
  </tr>
</table>